---
import { Plus, Tag, SquarePen, Star } from "lucide-react";
import Layout from "./layout.astro";
import { Button } from "~/components/ui/button";
---

<Layout>
  <div class="max-w-App mx-auto flex w-full grow gap-6 p-6">
    <aside class="flex w-[300px] grow flex-col gap-8 rounded-2xl bg-white p-4">
      <div class="flex justify-center px-8">
        <Button className="w-full gap-1 rounded-full"> <Plus />Add Notes</Button>
      </div>
      <div class="flex flex-col gap-1">
        <Button className="w-full justify-start gap-3 !p-5" variant="ghost">
          <SquarePen />
          <span class="text-zinc-700">All</span>
        </Button>
        <Button className="w-full justify-start gap-3 !p-5" variant="ghost">
          <Star className="size-4" />
          <span class="text-zinc-700">Favorites</span>
        </Button>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2 px-3">
          <Tag className="size-4" /><h6 class="text-zinc-600"><small>Labels</small></h6>
        </div>
        <div>
          <Button className="group w-full justify-start gap-3 !p-5" variant="ghost">
            <span class="size-2.5 rounded-full bg-purple-700"></span>
            <span class="text-zinc-700 group-hover:text-purple-700">Personal</span>
          </Button>
          <Button className="group w-full justify-start gap-3 !p-5" variant="ghost">
            <span class="size-2.5 rounded-full bg-green-700"></span>
            <span class="text-zinc-700 group-hover:text-purple-700">Work</span>
          </Button>
          <Button className="group w-full justify-start gap-3 !p-5" variant="ghost">
            <span class="size-2.5 rounded-full bg-orange-700"></span>
            <span class="text-zinc-700 group-hover:text-purple-700">Social</span>
          </Button>
          <Button className="group w-full justify-start gap-3 !p-5" variant="ghost">
            <span class="size-2.5 rounded-full bg-blue-700"></span>
            <span class="text-zinc-700 group-hover:text-purple-700">Important</span>
          </Button>
        </div>
      </div>
    </aside>
    <main class="flex w-full flex-col divide-y divide-zinc-200/90 rounded-2xl bg-white">
      <header class="p-4 px-6">
        <h1 class="text-xl font-semibold">Note Lists</h1>
      </header>
      <div class="p-8">
        <slot />
      </div>
    </main>
  </div>
</Layout>
